.taskItem{
  list-style: none;
  width: 100%;

  .taskContainer {
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.875rem;
    color: var(--gray-100);
    background-color: var(--gray-500);
    border: solid 1px var(--gray-400);
    border-radius: 8px;

    input{
      cursor: pointer;
    }

    .icon{
      margin-right: 0.938rem;
      margin-bottom: 0.625px;
      transition: background-color 0.1s;
      cursor: pointer;

      &:hover{
        color: var(--blue);
      }
    }
  }
}


