.taskItem {
  list-style: none;
  width: 100%;

  .completed {
    .textcompleted {
      text-decoration: line-through;
      opacity: 0.6;
    }
  }

  .notCompleted {
    opacity: 1
  }

  .taskContainer {
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.875rem;
    color: var(--gray-100);
    background-color: var(--gray-500);
    border: solid 1px var(--gray-400);
    border-radius: 8px;
    margin-bottom: 1.25rem;

    .checkboxContainer {
      border: solid 1px var(--purpleDark);
      border-radius: 50px;

      input {
        cursor: pointer;

        &:checked {
          & ~ .checkmark {
            background-color: var(--purpleDark);
            border-radius: 20px;

            &:after {
              display: block;
              transform: rotate(45deg);
            }
          }
        }
      }
      .checkmark {
        border-radius: 2px;

        &:after {
          content: "";
        }
      }
    }

    p {
      width: 34.375rem;
    }

    .icon {
      margin-right: 0.938rem;
      margin-bottom: 0.625rem;
      transition: background-color 0.1s;
      cursor: pointer;

      &:hover {
        color: var(--blue);
      }
    }
  }
}
