.taskItem {
  list-style: none;
  width: 100%;

  .taskContainer {
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.875rem;
    color: var(--gray-100);
    background-color: var(--gray-500);
    border: solid 1px var(--gray-400);
    border-radius: 8px;
    margin-bottom: 1.25rem;

    .checkboxContainer {
      input {
        cursor: pointer;

        &:checked {
          & ~ .checkmark {
            background-color: var(--purpleDark);
          }

          & ~ .checkmark:after {
            display: block;
          }
        }
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: var(--white);
        outline: none;
        border-radius: 20px;

        &:after {
          content: "";
          position: absolute;
          display: none;
          left: 6px;
          top: 3px;
          width: 3px;
          height: 6px;
          // border: solid white;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    }

    p {
      width: 34.375rem;
    }

    .icon {
      margin-right: 0.938rem;
      margin-bottom: 0.625rem;
      transition: background-color 0.1s;
      cursor: pointer;

      &:hover {
        color: var(--blue);
      }
    }
  }

  &.completed {
    p {
      text-decoration: line-through;
      opacity: 0.6;
    }
  }
}
