:root{
  // Gray
  --gray-100: #F2F2F2;
  --gray-200: #D9D9D9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-700: #0D0D0D;
  --gray-100: #F2F2F2;

  // Purple
  --purple: #8284FA;
  --purpleDark: #5E60CE;

  // Blue
  --blue: #4EA8DE;
  --blueDark: #1E6F9F;

  // Red
  --danger: #E25858;

  // White
  --white: #FFFFFF;
}

*{
  font-family: 'Inter', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--gray-600);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

