.taskListContainer {
  color: #ffff;
  height: 100%;
  width: 46rem;
  margin: 0 auto;
  z-index: 1;
  margin-top: -1.875rem;

  .taskListHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    input {
      box-sizing: initial;
      width: 39.875rem;
      height: 3.375rem;
      background-color: var(--gray-500);
      border: 2px solid var(--gray-700);
      border-radius: 8px;
      color: var(--gray-100);
      padding-left: 1rem;
    }

    button {
      box-sizing: initial;
      width: 5.625rem;
      height: 3.375rem;
      display: flex;
      justify-content: center;
      gap: 5px;
      align-items: center;
      color: var(--gray-100);
      border: none;
      background-color: var(--blueDark);
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.1s;

      &:hover{
        background-color: var(--blue);
      }
    }
  }


  .taskListMain {
    left: 22rem;
    margin-top: 3.125rem;
    width: 100%;

    .taskListMainSeparation {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 3.125rem;

      .taskListSpanOne {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: var(--blue);
        font-weight: bold;
        gap: 10px;

        div {
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          width: 1.5rem;
          height: 1.188rem;
          border-radius: 62.438rem;
          color: var(--gray-100);
          background-color: var(--gray-400);

          p {
            margin: 2px 7px 0 7px;
          }
        }

      };

      .taskListSpanTwo {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        color: var(--blue);
        font-weight: bold;
        gap: 10px;

        div {
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          width: 3.80rem;
          height: 1.188rem;
          border-radius: 62.438rem;
          color: var(--gray-100);
          background-color: var(--gray-400);

          p{
            margin: 2px 4px 0 2px;
          }
        }

      };
    };

    .emptyListContainer {
      .emptyList {
        width: 100%;
        height: 15.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--gray-300);
        line-height: 0.625rem;
        margin-top: 0.938rem;
        border-top: 1px solid var(--gray-300);
        border-radius: 8px;

        strong{
          margin-top: 18px;
        }
      }
    }

    .emptyListContainerHidden {
      visibility: hidden;
      max-height: 0;
    }

    .taskItemsArrangement {
      width: 46rem;
      height: 15.25rem;
      padding: 0;
    }
    .taskItemsArrangementSecondOption {
      width: 46rem;
      height: 100%;
      padding: 0;
    }
    .taskItemsArrangementHidden {
      visibility: hidden;
      max-height: 0;
    }
  }
}
